html, body {
    height: 100%; /* Garante que o body ocupe a altura total da tela */
    margin: 0; /* Remove margens padrão do navegador */
    padding: 0; /* Remove preenchimentos padrão do navegador */
}

h2{
color: rgb(194, 121, 250);
}


body{
    background-image: url(https://i.pinimg.com/736x/8a/af/3d/8aaf3d437c97259c5fab991c04986333.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
   
}

#caixaUniQuiz{
    width: 70%; /*largura da caixa*/
    max-width: 650px; /*Limita a largura máxima do */
    height: 600px;
    background-color: rgb(37, 13, 55);
    border-radius: 20px;
    padding: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    top: 10%;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 20px 20px rgb(121, 86, 135);
}


button{
   background-color: #a04dd6;
    border: none; /* Alterado de border-top para border: none para remover qualquer borda indesejada */
    color: rgb(7, 255, 243);
    padding: 10px 20px; /* Ajuste o padding para controlar o espaçamento interno */
    text-decoration: none;
    font-size: 1.0em; /* Aumentei um pouco o tamanho da fonte para melhor leitura */
    margin-top: 20px;
    border-radius: 10px;
    /* Removido display: flex e suas propriedades associadas, pois já está centralizando o texto com text-align e padding */
    text-align: center; /* Centraliza o texto horizontalmente */
   flex-direction: column;
    width: 500px 

}


.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.answer-btn:hover {
    background-color: #571099;
}
.answer-btn.correct {
    background-color: #40a257;
}
.answer-btn.incorrect {
    background-color: #d2626d;
}
.answer-btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}



    .option:hover{
        background: rgb(100, 33, 133);
        color: aqua;
        box-shadow: 0 0 10px darkorchid;
        border-radius: 10px;

        .resultado{
            margin-top: 30px;
            font-size: 1.4rem;
            color: darkorchid;
        }
        
    }
    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(-20px); }
        to { opacity: 1; transform: translateY(0); }
      }
